include AUTHORS.md
include CONTRIBUTING.md
include CHANGELOG.md
include LICENSE
include README.md

graft tests
graft docs
graft src

global-include *.rst *.md conf.py Makefile make.bat *.jpg *.png *.gif

include src/munsellkit/data/*.icc
include src/munsellkit/data/*.csv
include src/munsellkit/data/*.txt
include src/munsellkit/rscripts/*.R

prune docs/_build

global-exclude __pycache__
global-exclude *.py[co]
